{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}EVIN'S URL SHORTENER{% endblock %}</title>
</head>
<body>
    {% block main %}
        <div class="title">
            <h1>CODES YOU HAVE CREATED</h1>
        </div>
        <div class="dashboard">
            <ul>
                {% for code in codes %}
                    <a href="{{ url_for('redirect_to_url', code=code) }}">
                    <div class="card" class="b">{{ code }}</div>
                    </a>
                 {% endfor %}
            </ul>
        </div>
    {% endblock %}
</body>
</html>





