{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}EVIN'S URL SHORTENER{% endblock %}</title>
</head>
<body> 
{% block main %}
    <div class="title">
        <h1>URL SHORTENER</h1>
    </div>  
    <div class="dashboard">
        <div class="card">
            <form action="your-url" method="post">
                <div class="card-item">
                    <label for="url">Website URL : </label>
                    <input type="url" name="url" value="" class="input" required>
                </div>
                <div class="card-item">
                    <label for="code">Short Name : </label>
                    <input type="text" name="code" value="" class="input" required>
                </div>
                <input type="submit" value="shorten">
            </form>
        </div>
        <div class="card">
            <form action="your-url" method="post" enctype="multipart/form-data">
                <div class="card-item">
                    <label for="file">File</label>
                    <div class="input">
                        <input type="file" name="file" value="" required>
                    </div>
                </div>
                <div class="card-item">
                    <label for="code">Short Name : </label>
                    <input type="text" name="code" value="" class="input" required>
                </div>
                <input type="submit" value="shorten">
            </form>
        </div>
    {% if codes %}
    <button>
        <a href="{{ url_for('created_urls',codes=codes) }}">
            Codes you have created
        </a>
    </button>
    {% endif %}
    </div>
{% endblock %}

</body>
</html>






